$color-black: #000000;
$color-white: #ffffff;
$color-blue-darkness: #255AB6;
$color-blue-dark: #4656EB;
$color-blue-dark-light: #4A5CFF;
$color-blue-darkness-light: #2B6BDA;
$color-blue-gray: #C3CCDE;
$color-roman: #FF6E6E;
$color-dark-gray: #082341;
$color-light-gray: #E3E3E3;