$indent__base:  30px;                               // 30px
$indent__half:  $indent__base / 2;                  // 15px
$indent__xl:    $indent__base * 2;                  // 60px
$indent__l:     $indent__base * 1.6666666667;       // 50px
$indent__m:     $indent__base * 1.3333333333;       // 40px
$indent__s:     $indent__base * 0.6666666667;       // 20px
$indent__xs:    ceil($indent__base * 0.3333333333); // 10px