$default-title__color: $color-dark-gray;
$default-title__font-size: 45px;
$default-title__font-weight: $font-weight__semibold;
$default-title__line-height: 130%;
$default-description__line-height: 170%;
$default-title__max-width: 915px;
$default-description__max-width: 570px;
$default-description__font-weight: $font-weight__regular;
$default-description__margin-top: $indent__xs;
$default-description__font-size: 20px;
$default-title-line__size: 4px;
$default-title-line__color: $color-blue-dark;
$default-title-line__width: 74px;