*{box-sizing: border-box}

.banner{
  max-width: 1920px;
  height: 100%;
  position: relative;
  margin: auto;
  background-color: #00ff80;

  .banner-inner{
    color: black;
    position: relative;
    display: none;
    //overflow: hidden;
      h1, h4{
        color: black;
      }
      .banner-img{
        max-width: 100%;
        max-height: 100%;
        img{
          //width: 100%;
          //height: 100%;
          vertical-align: middle;
        }
      }
      .banner-content{
        //position: fixed;
        //top: 250px;
        //left: 200px;
        color: black;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
  }




  //background-image: url("../images/second.jpg");
  //background-position: center;
  //background-size: cover;
  //border: 1px solid black;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}