@import "_home";
@import "responsive/_responsive";

* {
  @include lib-css(font-family, $font-family-default);
}

.row {
  @include lib-make-row;
}

.container {
  @include lib-make-container;
}

.container-big {
  @include lib-make-container-big;
}

.button-main {
  @include lib-button-main;
}

.button-secondary {
  @include lib-button-secondary;
}

.button-main-inactive {
  @include lib-button-main($type: inactive);
}

.button-main-destructive {
  @include lib-button-main($type: destructive);
}

.button-secondary-inactive {
  @include lib-button-secondary($type: inactive);
}

.button-secondary-destructive {
  @include lib-button-secondary($type: destructive);
}

.page-main {
  padding-top: (($indent__l * 2) + ($indent__xs + 2));
}
/*
Include your scss files with pages scss here
 */


/*
Include your scss files with pages responsive scss here
 */
