@font-face {
  @include lib-font-face($font-family-gilroy, $font-family-gilroy-medium-path, $font-weight: $font-weight__medium, $font-display: swap);
}

@font-face {
  @include lib-font-face($font-family-gilroy, $font-family-gilroy-bold-path, $font-weight: $font-weight__bold, $font-display: swap);
}

@font-face {
  @include lib-font-face($font-family-gilroy, $font-family-gilroy-semi-bold-path, $font-weight: $font-weight__semibold, $font-display: swap);
}

@font-face {
  @include lib-font-face($font-family-gilroy, $font-family-gilroy-regular-path, $font-weight: $font-weight__regular, $font-display: swap);
}