@mixin lib-animation-rotate($duration: 2s) {
  -webkit-animation: rotating #{$duration} linear infinite;
  -moz-animation: rotating #{$duration} linear infinite;
  -ms-animation: rotating #{$duration} linear infinite;
  -o-animation: rotating #{$duration} linear infinite;
  animation: rotating #{$duration} linear infinite;
}
