.title-section.position-left {
  @include lib-default-title($_direction: flex-start);
}

.title-section.position-center {
  @include lib-default-title($_direction: center);
}

.title-section.position-right {
  @include lib-default-title($_direction: flex-end);
}

.title-section.position- {
  @include lib-default-title;
}